{% extends 'base.html' %}
{% block title %}Listagem de Ramais{% endblock %}
{% block content %}
<div class="card w-100 text-center">
    <div class="card-body">
        <div class="card-header">
            <h1>Listagem de ramais</h1>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Departamento</th>
                <th scope="col">Localização</th>
                <th scope="col">Responsável</th>
                <th scope="col">Ramal</th>
            </tr>
            </thead>
            <tbody>
            {% for t in topos %}
            <tr>
                <td>{{ t.setor }}</td>
                <td>{{ t.localizacao }}</td>
                <td>{{ t.responsavel }}</td>
                <td>{{ t.telefone }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}